{
  "extends": ["airbnb-base", "plugin:node/recommended", "plugin:prettier/recommended"],
  "plugins": ["no-loops", "node"],
  "env": {
    "node": true,
    "mocha": true
  },
  "settings": {
    "lodash": {
      "version": 4
    }
  },
  "rules": {
    "class-methods-use-this": "off",
    "camelcase": "off",
    "id-length": [2, { "exceptions": ["_", "i", "j"], "min": 2, "properties": "never" }],
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "indent": [2, 2, { "SwitchCase": 1 }],
    "no-console": "off",
    "no-shadow": [2, { "allow": ["cb", "err", "done", "resolve", "reject"] }],
    "no-underscore-dangle": "off",
    "node/no-unpublished-require": "off"
  }
}
